SECRET_KEY=change-me
MONGODB_URI=mongodb://admin:admin123@localhost:27017/?authSource=admin # LOCAL
# MONGODB_URI=mongodb://admin:admin123@mongodb_gs:27017/?authSource=admin #  DOCKER
SENDER_EMAIL=example@example.com
SENDER_PASSWORD=gmail application password
ADMIN_EMAIL=example@example.com
MCP_API_URL=http://127.0.0.1:8080
MCP_ADMIN=admin@example.com
MCP_ADMIN_PASSWORD=Password123!
